<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
  <body>
    <%-include('./partials/navBar.ejs') %>
    <div class="details">
      <div class="titleDetails">
        <h2><%= blog.title %></h2>
        <a class="delete" data-doc="<%=blog._id %>"
          ><img src="/trashcan.svg" alt=""
        /></a>
      </div>
      <div class="body">
        <p><%= blog.body %></p>
      </div>
    </div>
    <%-include('./partials/footer.ejs') %>

    <script>
      const dlt = document.querySelector(".delete");
      dlt.addEventListener("click", (e) => {
        const endpoint = `/blogs/${dlt.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
