<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
  <body>
    <%-include('./partials/navBar.ejs') %>
    <div class="details">
      <div class="titleDetails">
        <h2>
          <%= homy.date.toLocaleDateString('en-US', { timeZone: 'UTC',
          dateStyle: 'long' }) %>
        </h2>
        <a class="delete" data-doc="<%=homy._id %>"
          ><i class="fa-regular fa-trash-can"></i
        ></a>
      </div>
      <div class="body">
        <p>expenses : <%= homy.expenses %> DA</p>
        <p>sales : <%= homy.sales %> DA</p>
        <p class="profit">
          Profit: <%= parseInt(homy.sales) - parseInt(homy.expenses)%> DA
        </p>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script>
      const dlt = document.querySelector(".delete");
      dlt.addEventListener("click", (e) => {
        const endpoint = `/homy/${dlt.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
