<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navBar.ejs') %>

    <div>
      <h1>BLOGS</h1>
    </div>
    <div class="contentBlogs">
      <% if(blogs.length >0) {%> <% blogs.forEach(blog => {%>
      <div class="blogs">
        <a href="/blogs/<%=blog._id%>" class="single">
          <h2 class="title"><%= blog.title %></h2>
          <p>Date: <%= blog.date.toDateString() %></p>
          <p class="snippet"><%= blog.snippet %></p>
        </a>
      </div>

      <% }); %> <% }else {%>
      <h2>there are no blogs</h2>
      <%} %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
