<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navBar.ejs') %>
    <div>
      <h1>HISTORIC</h1>
    </div>
    <div class="contentBlogs">
      <div class="wrapper">
        <% if(homies.length >0) {%> <% homies.forEach(homy => {%>
        <div
          class="blogs"
          style="background-color:<%= parseInt(homy.sales) - parseInt(homy.expenses) >= 0 ? 'green' : 'red' %>;"
        >
          <a href="/homy/<%=homy._id%>" class="single">
            <p><%= homy.date.toDateString() %></p>
          </a>
        </div>

        <% }); %> <%} %>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
